<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <title>My Real Estate ChatBot</title>
        <link type="text/css" rel="stylesheet" href="{% static 'css/chatbotcss.css' %}">
    </head>
    <body>
        <div>
            <div class="my_left">
                <h1>Welcome Back</h1>
                <form id="login_form" class="my_form" method="post" action="{% url 'chatbot:index' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Username" value="" size="50" />
                <br />
                <input type="password" name="password" placeholder="Password" value="" size="50" /> <br />
                <br />
                <button class="orange" type="submit"/>Login</button>
                </form>
                <p>
                    <a href="{% url 'chatbot:register' %}" style="color:#757575" >Don't have an account?</a><br/>
                    <a href="{% url 'chatbot:about' %}" style="color:#757575" title="About me">About</a>
                </p>
            </div>
            <div class="my_right">
                <img src="{% static 'images/index_page.png' %}" alt="Picture of chatbot" width="100%"/>
            </div>

        </div>
        <div class="my_bottom">
            <img src="{% static 'images/index_bottom.png' %}" alt="Picture of chatbot" width="100%"/>
        </div>








    </body>

</html>