body {
    background-color: #F5FFFB;
    font-family: sans-serif;
}


.my_form {
    border: 3px solid #5AA28B;
    color: black;
    line-height: 2em;
    font-family: "Arial", serif;
    margin-top: 30px;
    padding-left: 3%;
    padding-right: 6%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.chatbox_form {
    color: black;
    line-height: 2em;
    padding-right: 4.5%;
    padding-left: 3%;
    padding-bottom: 6%;
    font-family: "Arial Black", serif;
    background-color: #ecfffa;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    border: 4px solid #5AA28B;
    border-radius: 20px;
}


div.my_bottom {
    width: 100%;
    float: bottom;
}

div.my_left {
    padding-top: 9%;
    width: 35%;
    float: left;
    margin-left: 6%;
    margin-right: 3%;
}

div.box_left {
    width: 35%;
    float: left;
    margin-left: 6%;
    margin-right: 3%;
}

div.my_right {
    width: 55%;
    float: right;

}

div.my_chat {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
}

div.my_logout {
    position: absolute;
    right: 15px;
    top: 15px;
    font-family: sans-serif;
}

div.my_query {
    background-color: white;
    padding-left: 6%;
    padding-top: 3%;
    padding-bottom: 3%;
    color: black;
    border-radius: 3px;
    border: 2px solid #5AA28B;
    line-height: 2em;
    font-family: "Arial", serif;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
}

div.chatbox {
    background-color: #ecfffa;

    padding: 5%;
    border: 4px solid #5AA28B;
    border-radius: 20px;
    width: 80%;
    color: black;
    margin-left: 5%;
    height: 600px;
    overflow: auto;
    overflow-x: hidden;

}

div.question {
    color: black;
    float: left;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3BB791;
    border: 1px solid #5AA28B;
    border-radius: 8px;
    font-family: "Arial Rounded MT Bold", "Noto Sans Caucasian Albanian", serif;
}

div.answer {
    color: black;
    float: right;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #3BB791;
    border: 1px solid #5AA28B;
    border-radius: 8px;
    font-family: "Arial Rounded MT Bold", "Noto Sans Caucasian Albanian", serif;
}

input {
    padding-left: 3%;
    width: 100%;
    outline-style: none;
    border: 1px solid #5AA28B;
    border-radius: 3px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

button.orange {
    width: 103%;
    height: 40px;
    color: white;
    border: 1px solid #5AA28B;
    font-family: "Arial Black", serif;
    font-size: medium;
    background: -webkit-linear-gradient(top, #5AA28B, #5AA2A9);
    background: -moz-linear-gradient(top, #5AA28B, #5AA2A9);
    background: -ms-linear-gradient(top, #5AA28B, #5AA2A9);
    border-radius: 3px;
}

button.orange:hover {
    background: -webkit-linear-gradient(top, #44C29B, #3BB791);

    background: -moz-linear-gradient(top, #44C29B, #3BB791);
    background: -ms-linear-gradient(top, #44C29B, #3BB791);
    border: 1px solid #44C29B;
    box-shadow: 0 1px #EFEFEF;
}

button.orange:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}


button.like {
    width: 30%;
    height: 40px;
    color: white;
    border: 1px solid #5AA28B;
    font-family: "Arial Black", serif;
    font-size: medium;
    background: -webkit-linear-gradient(top, #5AA28B, #5AA2A9);
    background: -moz-linear-gradient(top, #5AA28B, #5AA2A9);
    background: -ms-linear-gradient(top, #5AA28B, #5AA2A9);
    border-radius: 3px;
}

button.like:hover {
    background: -webkit-linear-gradient(top, #44C29B, #3BB791);

    background: -moz-linear-gradient(top, #44C29B, #3BB791);
    background: -ms-linear-gradient(top, #44C29B, #3BB791);
    border: 1px solid #44C29B;
    box-shadow: 0 1px #EFEFEF;
}

button.like:active {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
}



